#Application
  ul.thread
    list-style: none
    padding: 0
    li
      padding: 0 0 10px 0
      .comment-body
        color: rgb(0, 0, 0)
      .comment-author-name
        color: rgb(130, 150, 0)
  form
    textarea
      width: 400px
      display: block
