#Application
  ul.thread
    list-style: none
    padding: 0
    li
      padding: 0 0 10px 0
      .comment-body
        color: rgb(0, 0, 0)
      .comment-id
        color: rgb(228, 129, 0)
        display: inline-block
        &:after
          content: "\0020-\0020"
      .comment-author-name
        color: rgb(102, 101, 101)
        display: inline-block
  form
    textarea
      width: 400px
      display: block
